body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Header Section */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: deepskyblue;
}

/* Hero Section */
.hero {
    background-color: deepskyblue;
    color: white;
    text-align: center;
    padding: 100px 20px;

}
.hero-content h1 {
    font-size: 2rem;
    margin: 25px 0;
}
.cta-button {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
.cta-button:hover {
    text-decoration: underline;
    color: deepskyblue;
}

/* About Section */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #333;
    color: white;
}
.about h2 {
    font-size: 1.5rem;
}
.about p {
    color: white;
}

/* Skills Section */
.skills {
    background-color: #4b4b4b;
    color: white;
    padding: 50px 20px;
    text-align: center;
}
.skills h2 {
    font-size: 1.5rem;
}
.skills-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.skill-item {
    padding: 20px;
    background-color: #4b4b4b;
    border-radius: 20px;
    width: 25%;
}